.container {
    width: 100vw;
    height: 100vh;
    background: snow;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    display: flex;
    }
    .box {
    width: 200px;
    height: 700px;
    color: #0000008f;;
    }

    body {
    margin: 15px;
    background-color: snow;
    }